<div class="chat">
<div class="messages">
@for(message of messages; track $index) {
    <div class="message">
        @switch (message.type) {
            @case (MessageType.QUIT) {
                <div class="quit-message">User has left the chat.</div>
            }
            @case (MessageType.JOIN) {
                <div class="join-message">User has joined the chat.</div>
            }
            @default {
                <div [class.sent-message]="message.sender == username" [class.received-message]="message.recipient == username">
                    {{message.content}}
                </div>
            }
        }
    </div>
}

@if(isTyping) {
    <div class="display-typing">User is typing...</div>    
}
</div>
<div class="message-form">
    <form  [formGroup]="form" (ngSubmit)="send()">
        <input type="text" name="message" formControlName="message" placeholder="Type your message">
        <button type="submit" [disabled]="form.invalid">Send</button>
</form>
</div>
</div>