.messages-count {
    background: red;
    color: #fff;
    margin-left: 1em;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5em;
}