<div class="chat-wrapper">
    <div class="users">
        <app-active-users class="active-users" [users]="activeUsers" [activeUser]="activeUser" (select)="selectChat($event)"></app-active-users>
        <app-waiting-users class="waiting-users" (handle)="handleUser($event)"></app-waiting-users>
    </div>
    <div class="chats">
        @for(user of activeUsers; track user.username) {
            <app-conversation [recipient]="user" (remove)="removeChat($event)" [username]="currentUsername" [hidden]="activeUser !== user"></app-conversation>
        }
    </div>
</div>